<a href="https://colab.research.google.com/github/AnnaLlorensBelles/Curso-Python/blob/main/Ana_09_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Ejercicio 1

Obtener la versión de la librería pandas.

In [ ]:
pd.__version__

'1.5.3'

# Ejercicio 2



*   Convertir la lista dada en una estructura pandas Series.
*   Comprueba su tamaño.
* Utiliza el comando describe() y mira para qué sirve.

In [ ]:
datos = [2, 3, 5, 7, 11]

serie = pd.Series(datos)
serie
len(serie) #para que nos diga la longitud o tamaño
# otra forma: print(serie.size)
serie.describe() #nos da diversos datos sobre la serie en cuestión

count     5.000000
mean      5.600000
std       3.577709
min       2.000000
25%       3.000000
50%       5.000000
75%       7.000000
max      11.000000
dtype: float64

# Ejercicio 3

* Ahora vuelve a convertir la pandas series de antes a una lista Python.
* Comprueba su tipo con la función type()

In [ ]:
nueva_lista = list(serie) #una forma de hacerlo. Creamos una variable y le asignamos nuevo tipo de dato.
type(nueva_lista)

list

In [ ]:
lista = serie.tolist() #otra forma de hacerlo
type(lista)

list

# Ejercicio 4

Aplicar las operaciones aritméticas básicas sobre los objetos Series dados.

Prueba a:
* Sumar
* Restar
* Multiplicar
* Dividir

In [ ]:
serie1 = pd.Series([1, 2, 3, 4, 5])
serie2 = pd.Series([9, 8, 7, 6, 5])

In [ ]:
suma = serie1 + serie2
print (suma)

0    10
1    10
2    10
3    10
4    10
dtype: int64

In [ ]:
resta= serie1 - serie2
print (resta)

0   -8
1   -6
2   -4
3   -2
4    0
dtype: int64

In [ ]:
multiplicacion = serie1 * serie2
print(multiplicacion)

0     9
1    16
2    21
3    24
4    25
dtype: int64

In [ ]:
division= serie1/serie2
print(division)

0    0.111111
1    0.250000
2    0.428571
3    0.666667
4    1.000000
dtype: float64

In [ ]:
lista = [1,2,3,4,5,]
lista.append(6) #así se añade un elemento a una lista con append
lista

[1, 2, 3, 4, 5, 6]

In [ ]:
lista = [0,1,2,3,4,5,6]
lista.insert(8,7) #así se añade un elemento a una lista con insert,
# donde la primera cifra entre paréntesis es la posición en la que debe insertar
# la cifra que aparece en segundo lugar entre paréntesis, tras la coma.
lista

[0, 1, 2, 3, 4, 5, 6, 7]

# Ejercicio 5

Usar operadores relacionales para comparar los objetos Series dados.

In [ ]:
serie1 = pd.Series([1, 2, 3, 5, 7])
serie2 = pd.Series([13, 17, 11, 5, 3])

In [ ]:
iguales= (serie1 == serie2)
print (iguales)

0    False
1    False
2    False
3     True
4    False
dtype: bool

¿Qué ocurre? ¿Se comparan todos los elementos? ¿Se compara el objeto únicamente...?

In [ ]:
mayorque= (serie1>serie2)
print (mayorque)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [ ]:
menorque = (serie1<serie2)
print (menorque)

0     True
1     True
2     True
3    False
4    False
dtype: bool

In [ ]:
diferente= serie1!=serie2
print (diferente)

0     True
1     True
2     True
3    False
4     True
dtype: bool

Se comparan todos los elementos uno a uno y nos devuelve un valor booleano (True/False)

```
Introduce aquí tu respuesta
```

In [ ]:
mayorigual= serie1>=serie2
print(mayorigual)

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [ ]:
menorigual= serie1<=serie2
print(menorigual)

0     True
1     True
2     True
3     True
4    False
dtype: bool

# Ejercicio 6



*   Convertir el diccionario Python en un objeto Series.
*   Intenta imprimir en pantalla algún valor de la serie.

PD: Fíjate como accedemos al valor.

In [ ]:
datos = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
serie = pd.Series(datos)
print (serie)

a    10
b    20
c    30
d    40
dtype: int64

In [ ]:
serie['c'] # con notación de slicing obtenemos el dato correspondiente a la posición determinada por la letra

30

# Ejercicio 7

Crea un array NumPy y conviertelo en un objeto Series.
(Array significa vector)

In [ ]:
#Crea un array NumPy
import numpy as np
vector = np.array([1,2,3,4,5])

In [ ]:
#Conviertelo en un objeto Series.
vector_serie = pd.Series(vector)
print(vector_serie)

0    1
1    2
2    3
3    4
4    5
dtype: int64

# Ejercicio 8

Cambiar el tipo de datos de un objeto Series.



*   Cambiar la siguiente serie de Strings en númerica

In [ ]:
datos = pd.Series(['100', '200', '', '300.15', '500.8'])
serie_numerica = pd.to_numeric(datos, errors='coerce')
print(serie_numerica)

0    100.00
1    200.00
2       NaN
3    300.15
4    500.80
dtype: float64

En este ejemplo, utilizamos la función pd.to_numeric() de pandas para convertir la serie datos en una serie numérica. El argumento errors='coerce' se utiliza para que los valores que no se pueden convertir sean establecidos como NaN en lugar de generar un error.

Como puedes ver, los valores de la serie se han convertido en números, y los valores que no se pudieron convertir, como la cadena vacía en el índice 2, se establecieron como NaN (valores faltantes) en la serie numérica resultante.

Esta función pd.to_numeric() es útil cuando se necesita convertir una serie con diferentes formatos de valores en una serie numérica. Sin embargo, debes tener en cuenta que si necesitas trabajar con valores numéricos específicos, es posible que desees manejar y tratar los NaN según tus necesidades antes de realizar cálculos o análisis adicionales.

In [ ]:
datos = pd.Series(['100', '200', '', '300.15', '500.8'])
datos.astype(float, errors='ignore')

0       100
1       200
2
3    300.15
4     500.8
dtype: object

Hay que decirle qué hacer con el valor '' porque como no es número nos daría error. De ahí que al lado del tipo de dato que queremos le especificamos qué hacer con los errores.

# Ejercicio 9

Obtener una columna de un objeto DataFrame como un objeto Series.

Para obtener una columna de un objeto DataFrame como un objeto Series en pandas, puedes utilizar la notación de corchetes ([]) y pasar el nombre de la columna como índice del DataFrame. Aquí tienes un ejemplo utilizando el DataFrame datos proporcionado:

In [ ]:
datos = {'A': [1, 2, 3, 4, 5], 'B': [9, 8, 7, 6, 5], 'C': [2, 3, 5, 7, 11]}

df = pd.DataFrame(data=datos)

df

   A  B   C
0  1  9   2
1  2  8   3
2  3  7   5
3  4  6   7
4  5  5  11

En este ejemplo, creamos el DataFrame df a partir del diccionario datos. Luego, utilizamos df['A'] (notación de slicing) para obtener la columna 'A' del DataFrame como un objeto Series y la asignamos a la variable serie_columna. Finalmente, imprimimos serie_columna.

In [ ]:
# Obtener una columna como un objeto Series
serie_columna = df['A']

print(serie_columna)

0    1
1    2
2    3
3    4
4    5
Name: A, dtype: int64

Como puedes ver, obtenemos la columna 'A' del DataFrame como un objeto Series, donde los valores son los mismos que los de la columna 'A' del DataFrame, y el nombre de la Serie es 'A'.

De esta manera, puedes obtener cualquier columna de un DataFrame como un objeto Series utilizando la notación de corchetes y el nombre de la columna correspondiente.

# Ejercicio 10 (Opcional)

Convertir un objeto Series con múltiples listas en un único objeto Series.

In [ ]:
datos = [['Colombia', 'Perú', 'Argentina'], ['Bolivia', 'Uruguay'], ['Chile']]

serie = pd.Series(datos)

serie

0    [Colombia, Perú, Argentina]
1             [Bolivia, Uruguay]
2                        [Chile]
dtype: object

In [ ]:
serie_unica = serie.explode()
print(serie_unica)

0     Colombia
0         Perú
0    Argentina
1      Bolivia
1      Uruguay
2        Chile
dtype: object

El objeto Series serie_unica contiene todos los elementos de las listas en una única serie, con índices repetidos para indicar el origen de cada elemento.

# Ejercicio 11

Ordenar los valores de un objeto Series con el método sort_values.

Para ordenar los valores de un objeto Series en pandas, puedes utilizar el método sort_values(). Sin embargo, ten en cuenta que los valores deben ser compatibles con algún tipo de ordenamiento. En tu caso, los valores de la serie son de diferentes tipos, por lo que no se puede realizar un ordenamiento numérico o alfabético directamente.

Si deseas ordenar la serie en base a los valores de manera alfabética, puedes convertir los valores a cadenas de texto y utilizar sort_values() de la siguiente manera:

In [ ]:
datos = ['1.1', 'Python', '0.5', 'pandas', '2.8']

serie = pd.Series(datos)

serie

0       1.1
1    Python
2       0.5
3    pandas
4       2.8
dtype: object

In [ ]:
serie.sort_values() #una forma

2       0.5
0       1.1
4       2.8
1    Python
3    pandas
dtype: object

In [ ]:
serie_ordenada = serie.astype(str).sort_values() #otra forma

print(serie_ordenada)

2       0.5
0       1.1
4       2.8
1    Python
3    pandas
dtype: object

En este ejemplo, primero utilizamos astype(str) para convertir todos los valores de la serie a cadenas de texto y luego aplicamos sort_values() para ordenarlos alfabéticamente. Observa que la serie resultante tiene los valores ordenados de forma ascendente.

Si deseas realizar un ordenamiento numérico, primero debes asegurarte de que los valores sean números válidos. En tu caso, algunos valores como 'Python' no son números y no se pueden convertir directamente. Si solo deseas ordenar los valores numéricos, puedes eliminar los valores no numéricos o asignarles un valor especial antes de realizar el ordenamiento.

# Ejercicio 12

Agregar datos a un objeto Series existente.

* Usa el método append()
* IMPORTANTE: Si estamos trabajando con pandas series y aplicamos el método append(), espera recibir como argumento una pandas series.

In [ ]:
datos = ['Python', 'C#', 'C++', 'Java', 'PHP']

serie = pd.Series(datos)

serie

0    Python
1        C#
2       C++
3      Java
4       PHP
dtype: object

In [ ]:
lista = ['Javascript']
serie2 = pd.Series(lista)

serie.append(serie2)

<ipython-input-70-0cd91bb85150>:4: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  serie.append(serie2)

0           1.1
1        Python
2           0.5
3        pandas
4           2.8
0    Javascript
dtype: object

# Ejercicio 13

Crear un objeto Series a partir de un filtro aplicado a otro objeto Series.

Quédate con los datos que sean menores de 6.

In [ ]:
datos = [0, 1, 7, 3, 4, 5, 6, 7, 8, 9]

serie = pd.Series(datos)

serie

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

# Ejercicio 14

* Tenemos un objeto series con letras como Indices y números como valores
* Cambiar el orden del índice de un objeto Series.
* El orden tiene que ser: ['B', 'A', 'C', 'D', 'E']

PISTA: Podrías buscar en internet how to change index order series python

In [ ]:
datos = [1, 2, 3, 4, 5]

indices = ['A', 'B', 'C', 'D', 'E']

serie = pd.Series(data=datos, index=indices)

serie

A    1
B    2
C    3
D    4
E    5
dtype: int64

# Ejercicio 15

Obtener la desviación estándar y el promedio de un conjunto de datos de una serie.

In [ ]:
datos = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

serie = pd.Series(datos)

serie

0     2
1     3
2     5
3     7
4    11
5    13
6    17
7    19
8    23
9    29
dtype: int64

# Ejercicio 16

Calcular los valores mínimo y máximo de un objeto Series.

In [ ]:
datos = [19, 2, 13, 0, 23, 29, 11, 7]

serie = pd.Series(datos)

serie

0    19
1     2
2    13
3     0
4    23
5    29
6    11
7     7
dtype: int64

# Ejercicio 17 (Opcional)

Obtener estádisticas básicas de un objeto Series con el método `describe`.

## Ejercicio 18

Obtener los elementos impares de un objeto Series numérico.

In [ ]:
datos = [19, 2, 13, 0, 23, 29, 11, 7]

serie = pd.Series(datos)

serie

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Ejercicio 19 (Opcional)

Extraer los datos de un objeto Series como un objeto NumPy.

# Ejercicio 20

Comprobar si una serie contiene valores NaN. Ya existe una función que lo comprueba.

In [ ]:
datos = ['20', '30', '', '50', 100]

serie = pd.Series(datos)
serie = pd.to_numeric(serie)

serie

# Ejercicio 21 (Opcional)

Operaciones aritméticas con métodos de la clase Series: `add`, `subtract`, `multiply`, y `divide`.

In [ ]:
serie1 = pd.Series(list(range(1, 11)))

serie1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
serie2 = pd.Series(list(range(10, 0, -1)))

serie2

0    10
1     9
2     8
3     7
4     6
5     5
6     4
7     3
8     2
9     1
dtype: int64

# Ejercicio 22

Eliminar los valores NaN de una serie con el método dropna.

In [ ]:
datos = ['2.3', '90', '100', np.nan, '0.5', '.9']

serie = pd.Series(datos)

serie

0       2.3
1    Python
2        90
3       100
4       NaN
5       0.5
6        .9
dtype: object

# Ejercicio 23

Reemplazar los valores NaN (null) de una serie con un valor arbitrario.

In [ ]:
datos = [1, 3, np.nan, 11, 'Python', '-0.5', np.nan]

serie = pd.Series(datos)

serie

0         1
1         3
2         7
3        11
4    Python
5      -0.5
6       NaN
dtype: object